sqlite3:
  adapter: sqlite3
  database: acts_as_populable.sqlite3

mysql:
  adapter: mysql
  hostname: localhost
  username: root
  password:
  database: acts_as_populable

postgresql:
  adapter: postgresql
  hostname: localhost
  username: postgres
  password:
  database: acts_as_populable